@import "@fontsource/montserrat";
@import "@fontsource/lora";
@import "@fontsource/barlow";
@import "@fontsource/ibm-plex-sans";
/* @import '@fontsource/futura-pt';*/

:root {
    --primary-dark: #122324;
    --secondary-dark: #2E3A33;
    --neutral: #535748;
    --accent-light: #b08c4d;
    --accent-medium: #804011;
    --accent-dark: #3f2411;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-dark);
    color: rgba(255, 255, 255, 0.9);
}

h1,
h2 {
    font-family: "Futura PT", sans-serif;
}

p {
    font-family: "Lora", serif;
}

a {
    text-decoration: none;
    color: inherit;
}
